<!-- TO DO : BUTTON SHOULD GO TO PROFILE HOME -->

<!-- <h1>Your Hogwarts Remote Student profile</h1> -->

<div id="acceptancePage" >
    <div id="acceptanceBigText" >
            <p id="acceptanceSmallText"  >
                Welcome, <span><%= user.username %></span>, 
                <br>
                We are pleased to inform you that you have been oficially accepted to Hogwarts Remote School of Witchcraft & Wizardry.
                <br>
                You have been sorted into the following house: 
            </p>

            <p id="acceptanceSmallText"   >
                <span>
                    <%= user.house %>.
                </span>
            </p>

            <p id="acceptanceSmallText"  >
                I think you already know Mr. Ollivander, he already sent you a 
                welcoming gift and he left a message that says:<br>
                    "The wand chooses the Wizard, <span><%= user.username %></span>!
                        It's not always clear why. 
                            But I think it is clear that we can expect great things from you."
            </p>
                
            <p  id="acceptanceSmallText"  >
                So let's see what you got!
            </p>
                
            <p  id="acceptanceSmallText"  >
                Aaa, 
                <span>
                <%= user.wand %>
                </span>
                ! Perfect! Make sure you will use it to the fullest!
                
            </p>

            

    </div>


    <a href="/profile">
        <button id="loginButton" >
            Enter Hogwarts Remote
        </button>
    </a>

</div>

<% if (user.house === "Gryffindor") { %>
<embed  src="../audio/GryffindorSorted.mp3" 
loop=2
autostart="true" 
height="0"
width="0"
hidden
>
<% } else if ( user.house === "Ravenclaw" ) { %>
    <embed  src="../audio/ravenclaw.mp3" 
    loop=2
    autostart="true" 
    height="0"
    width="0"
    hidden
    >
    <% } else if ( user.house === "Hufflepuff" ) { %>
        <embed  src="../audio/sorted_hufflepuff.mp3" 
        loop=2
        autostart="true" 
        height="0"
        width="0"
        hidden
        >
        <% } else if ( user.house === "Slytherin" ) { %>
            <embed  src="../audio/slytherin.mp3" 
            loop=2
            autostart="true" 
            height="0"
            width="0"
            hidden
            >
            <% } %>