<!-- TO DO : BUTTON SHOULD GO TO PROFILE HOME -->

<!-- <h1>Your Hogwarts Remote Student profile</h1> -->

<div id="acceptancePage" >
    <div id="acceptanceBigText" >
            <p id="acceptanceSmallText"  >
               Dear, <span><%= user.username %></span>, 
                <br>
                We are pleased to inform you that you have been oficially accepted to our prestigious Hogwarts Remote School of Witchcraft & Wizardry.
                <br>
                You also have been sorted into the following house: <span> <%= user.house %> </span>.
            </p>

            <p id="acceptanceSmallText"  >
                It seems you have already met Mr. Ollivander as he already sent you a 
                welcoming gift with his signature message:<br>
                    "The wand chooses the Wizard, <span><%= user.username %></span>!
                        It is not always clear why, but I think it is clear that we can expect great things from you."
            </p>
                
                
            <p  id="acceptanceSmallText"  >
                Oh, 
                <span>
                <%= user.wand %>
                </span>
                ! Awesome, make sure you use it to the fullest!
                
            </p>

            

    </div>


    <a href="/profile">
        <button class="loginButton" >
            Enter Hogwarts Remote
        </button>
    </a>

</div>

<% if (user.house === "Gryffindor") { %>
<embed  src="../audio/GryffindorSorted.mp3" 
loop=2
autostart="true" 
height="0"
width="0"
hidden
>
<% } else if ( user.house === "Ravenclaw" ) { %>
    <embed  src="../audio/ravenclaw.mp3" 
    loop=2
    autostart="true" 
    height="0"
    width="0"
    hidden
    >
    <% } else if ( user.house === "Hufflepuff" ) { %>
        <embed  src="../audio/sorted_hufflepuff.mp3" 
        loop=2
        autostart="true" 
        height="0"
        width="0"
        hidden
        >
        <% } else if ( user.house === "Slytherin" ) { %>
            <embed  src="../audio/slytherin.mp3" 
            loop=2
            autostart="true" 
            height="0"
            width="0"
            hidden
            >
            <% } %>