
<div id="loginBody">

    <form id="loginForm" method="POST" action="/auth/login">

        <label class="loginInput"> 
            <input type="text" name="username" placeholder="Name" required >
        </label>

        <label class="loginInput">
            <input type="password" name="password" placeholder="Password" required >
        </label>

        <button id="loginButton" type="submit">Prove it</button>

    </form>

    <% if (typeof errorMessage != "undefined") { %>
        <p> <%= errorMessage %> </p>
    <% } %>
</div>
