
<div id="loginBody">

    <div id="errorMessageFromLogin">
        <% if (typeof errorMessage != "undefined") { %>
            <p>
                <%= errorMessage %>
            </p>
            <% } %>
    
    
    </div>
    

    <form id="loginForm" method="POST" action="/auth/login">

        <label > 
            <input class="loginInput"  type="text" name="username" placeholder="Name" required >
        </label>

        <label >
            <input class="loginInput" type="password" name="password" placeholder="Password" required >
        </label>

        <button id="loginButton" type="submit">Prove it</button>

    </form>




</div>
