<!-- <h2>Sign up page</h2> -->

<!-- THIS SHOWS ONLY WHEN THE USER TRIED TO LOGIN WITHOUT MAKING AN ACCOUNT FIRST. THE ERROR MESSAGE SHOULD BE "User not found, you have to get the letter first". -->
<div id="errorMessageFromLogin">
    <% if (typeof errorMessageFromLogin != "undefined") { %>
        <p>
            <%= errorMessageFromLogin %>
        </p>
        <% } %>
</div>



<div id="loginBody" >
    
    <p id="letterText" > <!-- START OF LETTER -->
        We are gladly announcing that Hogwarts is expanding the courses to the Online World.
        <br><br>
        If you have come to this page it means that you have received our letter with the invitation and... 
        <br><br>
        ...that you are indeed...
        <br><br>
        A WIZARD!
        <br>


        
    </p> <!-- END OF LETTER-->

    <div id="letterPhoto" >
        <img src="../images/letterflying.gif" alt="flying letter" width="170px" height=" 120px " >
    </div>


            <!-- START OF TYPING FORM -->
        <form method="POST" action="/auth/signup" id="loginForm" >

            <label> 
                <input class="loginInput" type="text" name="username" required 
                placeholder="Name">
            </label>

            <label> 
                <input type="password" name="password" required class="loginInput" placeholder="password" >
            </label>

            <button id="loginButton" type="submit">Get ready for Sorting</button>

        </form>
        <!-- END OF TYPING FORM -->

</div>







<!-- ERROR  -->
<% if (typeof errorMessage != "undefined") { %>
    <p> <%= errorMessage %> </p>
<% } %>
<!-- END OF ERROR-->