<h1>Your Hogwarts Remote Student profile</h1>

<div>
    <p>Welcome, <%= user.username %> </p>
    
    <p>  <% 
        if (user.house) { %> 
            House of <%= user.house %> </p>
            <% } 
        %>
    <p>

    <p>Your assigned wand is: <%= user.wand %></p>

    <p>Enjoy Hogwarts!</p>

    <a href="/profile">
        <button>
            Go to Hogwarts Remote
        </button>
    </a>

</div>