
<div>
    <h2 class="loungetitle"> Welcome to your house lounge, <%= user.username %> </h2>

    <p class="loungetxt">  
        Us here, at Remote Hogwarts School, value your time. 
        <br>
        Your time means fun time. So what does it rhyme with? 
        <br>
        <br>
        Yep. You've guessed it: LOUNGE TIME!
        <br>
        <br>
        All you have to do is type in the House Password below. 
        <br>
        <br>
        If you don't remember it you can always go back to <a class="linklounge" href="/profile/profile-info">your Hogwarts Profile</a> check the House Password and come back here. 
        <br>
        <br>
        Have Fun!
     

    </p>

    <h2>
    <form method="POST" action="/profile/lounge">
        <label> Type your secret House Password here:
            <input class="loungepwtxt" type="text" name="typedHousePassword" required >
        </label>
    </h2>
    
    <div class="loungebtn">
        <button id="loungeloginButton" type="submit">Lounge time!</button>
    </div>

    </form>

</div>

<% if (typeof errorMessage != "undefined") { %>
    <p> <%= errorMessage %> </p>
<% } %>


<!-- // Music code -->
<embed  src="../audio/harry_hermione.mp3" 
loop=2
autostart="true" 
height="0">