<h1> Your Hogwarts Remote Student profile</h1>

    <div>
        <p>Welcome, <%= user.username %> </p>
        <p>House of <%= user.house %> </p>
        <p>Your assigned wand is: <%= user.wand %></p>
        <p>You have created <%= numSpells %> spells</p>
        <p>Enjoy Hogwarts!</p>
      </div>
      