
<h1>Welcome, <%= user.username %> </h1>

    <p>  <% 
        if (user.house) { %> 
            House of <%= user.house %> </p> <% } %>
    <p>

    <p>You have created <%= numSpells %> spells</p>

    <p> Your house password is:

        <% if (user.house === "Gryffindor") { %>
            " Knock, knock! Who's there? Dumb! Dumb who? Dumb-door's password "
        <% } else if (user.house === "Ravenclaw") { %>
            " The Last Horcrux is my ex "
        <% } else if (user.house === "Hufflepuff") { %>
            " If you're not in Hufflepuff, you're a huff-n-puff "
        <% } else if (user.house === "Slytherin") { %>
            " Slytherin to your terminal like a boss "
        <% } %>
        <a class="links" style="white-space: nowrap;" href="/profile/lounge"> House Lounge </a>
    </p>

    <p>Your assigned Wand is: <%= user.wand %></p>

    <p>Enjoy Hogwarts!</p>
</div>

<embed  src="../audio/room_requirements.mp3" 
loop=2
autostart="true" 
height="0">