<h1> PROFILE/ PROFILE-INFO
    
    Your Hogwarts Remote Student profile INFORMATION</h1>

<div>
    <p>Your Hogwarts Remote Username: <%= user.username %> </p>

    <p>  <% 
        if (user.house) { %> 
            House of <%= user.house %> </p>
            <% } 
        %>
    <p>
    
    <p>Your assigned Wand is: <%= user.wand %></p>

    <p>Enjoy Hogwarts!</p>
</div>
