
<h1>Welcome, <%= user.username %> </h1>

<div class="bodyprofile">
    <p> <span> <% 
        if (user.house) { %> 
            House of <%= user.house %> </p> <% } %>
        </span> <p>

    <p>You have created  <span><%= numSpells %>  </span>  spells</p>

    <p> Your house password is: 
    <span>
        <% if (user.house === "Gryffindor") { %>
            "Knock, knock! Who's there? Dumb! Dumb who? Dumb-door's password"
        <% } else if (user.house === "Ravenclaw") { %>
            "The Last Horcrux is my ex"
        <% } else if (user.house === "Hufflepuff") { %>
            "If you're not in Hufflepuff, you're a huff-n-puff"
        <% } else if (user.house === "Slytherin") { %>
            "Slytherin to your terminal like a boss"
        <% } %>
    </span>
        <br>


    <p>Your assigned Wand is:  <span> <%= user.wand %> </span></p>

    <p>Enjoy Hogwarts!</p>
</div>

</div>

<embed  src="../audio/room_requirements.mp3" 
loop=2
autostart="true" 
height="0">