<h1> Welcome,  <%= user.username %>, to the list of all the spells created through the history of Hogwarts</h1>
    <p> Feel free to explore! </p>
     
    <h2>Spells list</h2>


<% spells.forEach((spell) => { %>

    <div style="border: 1px solid black; margin:1rem; padding:1rem" >
      <h3><%= spell.spellname %></h3>
      <h4>Description: <%= spell.description %></h4>
      <p>by <%= spell.owner.username %> </p>
    </div>
  
  <% }) %> 


