<h1 class="titlesp"> Spell Creation Course </h1>

<div class="creator">
    <p class="smltxt">Dear <%= user.username %>, in order to create your spells and win your next duel for the <%= user.house %> house, follow the instructions below: </p>
       
        <!-- START OF TYPING FORM -->
      <div >
        <form class="splform" action="/profile/spells-creator" method="post">
            <label> Title:
              <input type="text" name="spellname" />
            </label>

            <label> Description:
              <textarea name="description" cols="30" rows="4"> </textarea>
            </label>
           
            <label> Difficulty:
              <input class="diff" type="number" name="difficulty" min="1" max="3" />
            </label>
           
            <button class="duelbtn" type="submit"> Create your spell!</button>
          </form>
        </div>
        <!-- END OF TYPING FORM -->


        <!-- ERROR  -->
        <% if (typeof errorMessage != "undefined") { %>
            <p> <%= errorMessage %> </p>
        <% } %>
        <!-- END OF ERROR-->

    <p>Enjoy your duels!</p>
</div>