
<div id="syllabusHeader">
    <h1>    1st years' Syllabus    </h1>
</div>

<div id="syllabusBody">

    <div class="group">

    <!--------------------- FIRST SUBJECT --------------------->
    <div id="dets">

        <h4> Charms </h4>
        <p> Professor: Flitwick </p>

        <p> Charms is the class that teaches students how to cast spells that are fun and entertaining at parties. Want to learn how to make things levitate or dance along to music? This is the class for you! </p>

    </div>

    <!--------------------- SECOND SUBJECT --------------------->
    <div id="dets">

        <h4> Defense Against the Dark Arts </h4>
        <p> Professor: Quirrell </p>

        <p> Defense Against the Dark Arts teaches you how to protect yourself from evil forces. Learn how to cast spells and protect yourself from curses and jinxes. </p>

    </div>

    <!--------------------- THIRD SUBJECT --------------------->
    <div id="dets">

        <h4> Herbology </h4>
        <p> Professor: Sprout </p>

        <p> Herbology is the study of magical plants and fungi. Learn about the properties of various plants and their uses in potions and other spells. </p>

       
    </div>

    <!--------------------- FOURTH SUBJECT --------------------->
    <div id="dets">

        <h4> Potions </h4>
        <p> Professor: Snape </p>


        <p> Potions is the class that teaches you how to brew magical potions. Learn how to mix ingredients to create powerful elixirs that can heal, harm, or transform. </p>

        

    </div>

        <!--------------------- FIFTH SUBJECT --------------------->
        <div id="dets">
            <h4> Transfiguration </h4>
            <p> Professor: McGonagall </p>
            <p> Transfiguration is the art of changing the form and appearance of an object or a person. Learn how to turn a teapot into a tortoise, or a mouse into a snuffbox. </p>
           
        </div>


    </div>

    <div class="group">
     <!--------------------- SIXTH SUBJECT --------------------->
    <div id="dets">

        <h4> Astronomy </h4>
        <p> Professor: Sinistra </p>

        <p> Astronomy is the class that teaches you about the stars, planets, and other celestial objects. Learn how to identify constellations and predict astronomical events. </p>

    </div>

    <!--------------------- SEVENTH SUBJECT --------------------->
    <div id="dets">

        <h4> History of Magic </h4>
        <p> Professor: Binns </p>

        <p> History of Magic is the class that teaches you about the magical world's past. Learn about famous wizards and witches, important events, and ancient spells. </p>

    </div>
    <!--------------------- EIGHTH SUBJECT --------------------->
    <div id="dets">

        <h4> Flying </h4>
        <p> Professor: Hooch </p>

        <p> Flying is the class that teaches you how to ride a broomstick. Learn how to soar through the air, perform stunts, and play Quidditch. </p>


    </div>

    <!--------------------- NINTH SUBJECT --------------------->
    <div id="dets">

        <h4> Muggle Studies </h4>
        <p> Professor: Burbage </p>

        <p> Muggle Studies is the class that teaches you about non-magical people (also known as Muggles). Learn about their way of life, their culture, and their technology. </p>


    </div>
       <!--------------------- TENTH SUBJECT --------------------->
       <div id="dets">

        <h4> Divination </h4>
        <p> Professor: Trelawney </p>

        <p> Divination is the class that teaches you how to predict the future. Learn how to read tea leaves, crystal balls, and other mystical objects. </p>


    </div>

</div>


</div>



<!-- // Music code -->
<embed  src="../audio/harry_hermione.mp3" 
loop=2
autostart="true" 
height="0">