
<div id="syllabusHeader">
    <h1>     Syllabus    </h1>
    <h2>     Your Year : First year   </h2>
    <h3>     Subjects :    </h3>
</div>

<div id="syllabusBody">

    <!--------------------- FIRST SUBJECT --------------------->
    <div id="charms">

        <h4> Charms </h4>
        <p> Professor: Flietwick </p>

        <p> Charms is the class that teaches students how to cast spells that are fun and entertaining at parties. Want to learn how to make things levitate or dance along to music? This is the class for you! </p>

        <img src="" alt="">
        <p> Who needs to hire a DJ when you can make the furniture dance to the beat? </p>

    </div>

    <!--------------------- SECOND SUBJECT --------------------->
    <div id="defenseDark">

        <h4> Defense Against the Dark Arts </h4>
        <p> Professor: Quirrell </p>

        <p> Defense Against the Dark Arts teaches you how to protect yourself from evil forces. Learn how to cast spells and protect yourself from curses and jinxes. </p>

        <img src="" alt="">
        <p> Because who wouldn't want to be able to protect themselves from the dark forces that lurk in the shadows? Plus, if you ever come across a troll, you'll know how to take it down. </p>

    </div>

    <!--------------------- THIRD SUBJECT --------------------->
    <div id="herbology">

        <h4> Herbology </h4>
        <p> Professor: Sprout </p>

        <p> Herbology is the study of magical plants and fungi. Learn about the properties of various plants and their uses in potions and other spells. </p>

        <img src="" alt="">
        <p> Learn how to grow and take care of magical plants that could save your life or be used to prank your friends. Plus, you'll be the one to make the best flower arrangements at any event. </p>

    </div>

    <!--------------------- FOURTH SUBJECT --------------------->
    <div id="potions">

        <h4> Potions </h4>
        <p> Professor: Snape </p>


        <p> Potions is the class that teaches you how to brew magical potions. Learn how to mix ingredients to create powerful elixirs that can heal, harm, or transform. </p>

        <img src="" alt="">
        <p> Who needs to go to the apothecary when you can make your own potions? Plus, with the right ingredients, you can brew a love potion and finally get that special someone to notice you. Or you can prank your friends by giving them a potion that will make them laugh uncontrollably. </p>

    </div>

</div>

