
<div id="syllabusHeader">
    <h1>     Syllabus    </h1>
    <h2>     Your Year : First year   </h2>
    <h3>     Subjects :    </h3>
</div>

<div id="syllabusBody">

    <!--------------------- FIRST SUBJECT --------------------->
    <div id="charms">

        <h4> Charms </h4>
        <p> Professor: Flitwick </p>

        <p> Charms is the class that teaches students how to cast spells that are fun and entertaining at parties. Want to learn how to make things levitate or dance along to music? This is the class for you! </p>

        <img src="" alt="">
        <p> Who needs to hire a DJ when you can make the furniture dance to the beat? </p>

    </div>

    <!--------------------- SECOND SUBJECT --------------------->
    <div id="defenseDark">

        <h4> Defense Against the Dark Arts </h4>
        <p> Professor: Quirrell </p>

        <p> Defense Against the Dark Arts teaches you how to protect yourself from evil forces. Learn how to cast spells and protect yourself from curses and jinxes. </p>

        <img src="" alt="">
        <p> Because who wouldn't want to be able to protect themselves from the dark forces that lurk in the shadows? Plus, if you ever come across a troll, you'll know how to take it down. </p>

    </div>

    <!--------------------- THIRD SUBJECT --------------------->
    <div id="herbology">

        <h4> Herbology </h4>
        <p> Professor: Sprout </p>

        <p> Herbology is the study of magical plants and fungi. Learn about the properties of various plants and their uses in potions and other spells. </p>

        <img src="" alt="">
        <p> Learn how to grow and take care of magical plants that could save your life or be used to prank your friends. Plus, you'll be the one to make the best flower arrangements at any event. </p>

    </div>

    <!--------------------- FOURTH SUBJECT --------------------->
    <div id="potions">

        <h4> Potions </h4>
        <p> Professor: Snape </p>


        <p> Potions is the class that teaches you how to brew magical potions. Learn how to mix ingredients to create powerful elixirs that can heal, harm, or transform. </p>

        <img src="" alt="">
        <p> Who needs to go to the apothecary when you can make your own potions? Plus, with the right ingredients, you can brew a love potion and finally get that special someone to notice you. Or you can prank your friends by giving them a potion that will make them laugh uncontrollably. </p>

    </div>

        <!--------------------- FIFTH SUBJECT --------------------->
        <div id="transfiguration">
            <h4> Transfiguration </h4>
            <p> Professor: McGonagall </p>
            <p> Transfiguration is the art of changing the form and appearance of an object or a person. Learn how to turn a teapot into a tortoise, or a mouse into a snuffbox. </p>
            <img src="" alt="">
            <p> Impress your friends by turning a boring old rock into a glittering diamond, or by turning a toad into a tissue box. With transfiguration, the possibilities are endless. </p>
        </div>

     <!--------------------- SIXTH SUBJECT --------------------->
    <div id="astronomy">

        <h4> Astronomy </h4>
        <p> Professor: Sinistra </p>

        <p> Astronomy is the class that teaches you about the stars, planets, and other celestial objects. Learn how to identify constellations and predict astronomical events. </p>

        <img src="" alt="">
        <p> Who needs a telescope when you have the knowledge to identify the stars and planets on your own? Plus, impress your friends with your ability to predict meteor showers and eclipses. </p>

    </div>

    <!--------------------- SEVENTH SUBJECT --------------------->
    <div id="historyMagic">

        <h4> History of Magic </h4>
        <p> Professor: Binns </p>

        <p> History of Magic is the class that teaches you about the magical world's past. Learn about famous wizards and witches, important events, and ancient spells. </p>

        <img src="" alt="">
        <p> If you want to know the origins of the magical world and the secrets it holds, then this is the class for you. You'll impress your friends with your knowledge of famous wizards and witches and gain a better understanding of the world you live in. </p>

    </div>
    <!--------------------- EIGHTH SUBJECT --------------------->
    <div id="flying">

        <h4> Flying </h4>
        <p> Professor: Hooch </p>

        <p> Flying is the class that teaches you how to ride a broomstick. Learn how to soar through the air, perform stunts, and play Quidditch. </p>

        <img src="" alt="">
        <p> Who needs a car or a bicycle when you can fly on a broomstick? Plus, if you're good enough, you can join the school's Quidditch team and show off your flying skills in front of the entire school. </p>

    </div>

    <!--------------------- NINTH SUBJECT --------------------->
    <div id="muggleStudies">

        <h4> Muggle Studies </h4>
        <p> Professor: Burbage </p>

        <p> Muggle Studies is the class that teaches you about non-magical people (also known as Muggles). Learn about their way of life, their culture, and their technology. </p>

        <img src="" alt="">
        <p> If you want to learn about the world outside the magical community, then this is the class for you. You'll gain a better understanding of the non-magical people around you and learn to appreciate their way of life. </p>

    </div>
       <!--------------------- TENTH SUBJECT --------------------->
       <div id="divination">

        <h4> Divination </h4>
        <p> Professor: Trelawney </p>

        <p> Divination is the class that teaches you how to predict the future. Learn how to read tea leaves, crystal balls, and other mystical objects. </p>

        <img src="" alt="">
        <p> Want to know what the future holds? Then this is the class for you. You'll impress your friends with your ability to predict their futures and gain a better understanding of the mystical world around you. </p>

    </div>


</div>

