<h1> These are my spells</h1>



<ul>
    <% if (spells.length === 0) { %>
      <p>You don't have any spells yet. Create one to have access to Hogwart's historical secret spell list!</p>
    <% } else { %>
      <% spells.forEach((spell) => { %>
        <% if (spell.owner.toString() === user._id.toString()) { %>
          <div class="spelldiv" style="border: 1px solid rgb(255, 204, 0); margin:1rem; padding:1rem" >
            <h3>Name:<%= spell.spellname %></h3>
            <p>Description: <%= spell.description %></p>
            <p>Difficulty:<%= spell.difficulty %></p>
            <a class="spellupdate" href ="/profile/spell-details/<%- spell._id %>">Update my spell</a>
          </div>
        <% } %>
      <% }); %>
    <div class="ancbtn">
      <button class="ancestral" >
        <a class="anctxt" href="/profile/spells-list"> Ancestral spell list</a>
     </button>
    <% } %>
   </div>
  </ul>



  <button id="loungeloginButton">
    <a  href="/profile/spells-creator"> Create a new spell</a>
 </button>



 <embed  src="../audio/room_requirements.mp3" 
 loop=2
 autostart="true" 
 height="0">