<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

  </head>

  <body>

    <!-- i added this part below: -----user.house !== undefined---- so that the user cannot click on profile or logout without going through the sorting quiz // everyone needs a house! :D  --> 

    <div id="indexLayoutNav">
    <% 
        if (user && user.house !== undefined) { %>  
    <nav>
      <div class="intro">
        <li><a href="/my-profile">Profile</a></li>
        <li><a href="/logout">Logout</a></li>
      </div>
    </nav>
        <% } 
    %>
    </div>

    <%- body %>

    <script src="/js/script.js"></script>
  </body>
</html>
