<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= appTitle %></title>
    <link rel="stylesheet" href="/stylesheets/index-style.css" />

  </head>

  <body>

    <%- body %>

    <embed  src="../audio/HogwartsMusic.mp3" 
            loop=2
            autostart="true" 
            height="0"
            width="0"
            hidden
        >
    <script src="/js/script.js"></script>
  </body>
</html>
