    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%= appTitle %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="/profile">Home</a>
                    </li>
                    <li>
                        <a href="/profile/profile-info">My Hogwarts Profile</a>
                    </li>
                    <li>
                        <a href="/profile/lounge">House Lounge</a>
                    </li>
                    <li>
                        <a href="/profile/syllabus">Syllabus</a>
                    </li>

                    <li>
                        <a href="/profile/community">Community</a>
                    </li>

                    <li>
                        <a href="logout">Logout</a>
                    </li>
                    
                </ul>
            </nav>
        </div>

        <%- body %>

        <script src="/js/script.js"></script>
    </body>
    </html>
