    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title><%= appTitle %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <div class="navbar-top">
          <img src="/images/hog2.png" alt="Hogwarts Logo" class="navbar-logo">
          <h1 class="navbar-title">Hogwarts Remote</h1>
        </div>
         <div class="navbar-left">
            <nav>
                <ul>
                    <li>
                        
                    <a href="/profile"> 
                        <img src="https://img.icons8.com/windows/25/null/hogwarts.png"/>
                        Home
                    </a>
                    </li>
                    <li>
                    <a href="/profile/profile-info">
                        <img src="https://img.icons8.com/fluency-systems-regular/25/null/harry-potter-.png"/>
                        My profile
                    </a>
                    </li>
                    <li>
                    <a href="/profile/lounge">
                        <img src="/images/butterbeer.png" alt="Butterbeer"  width="30" height="30">
                        Lounge
                    </a>
                    </li>
                    <li>
                    <a href="/profile/syllabus">
                        <img src="/images/quill.png" alt="Quill"  width="30" height="30">
                        Syllabus
                    </a>
                    </li>
                    <li>
                    <a href="/profile/house-characters">
                        <img src="/images/alumn.png" alt="Alumni"  width="30" height="30">
                        Alumni
                    </a>
                    </li>
                    <li>
                    <a href="/profile/user-spells">
                        <img src="/images/spells.png" alt="Spells"  width="30" height="30">
                        My spells
                    </a>
                </li>
                <li>
                    <a href="logout">
                        <img src="/images/out.png" alt="Logout"  width="30" height="30">
                        Logout
                    </a>
                </li>
            </ul>
          </nav>
        </div>
        <div class="content">
          <%- body %>
        </div>
        <script src="/js/script.js"></script>
      </body>
      </html>
      
      
      
