<section id="showcase">
    <div id="video-container">
        <video src="video/HogwartsVideo.mov" autoplay muted ></video>
    </div>

    <div id="firstpage-content">
        <div id="firstpage-welcome-div">
            <h1 id="welcomeText">Welcome</h1>
            <h3 id="letterQuestion">Have you got the letter?</h3>
        </div>

        <div id="firstpage-buttons-div">
            <a href="/auth/login">
                <button class="firstpage-button">
                    Yes
                </button>
            </a>

            <a href="/auth/signup">
                <button class="firstpage-button">
                    No
                </button>
            </a>
        </div>
    </div>



</section>