/* // START LAYOUT STYLING */
body {
        font-family: 'Jim Nightshade', cursive;
        
        overflow: hidden;

    }

/* .intro{
        display:flex;
        justify-content: flex-start;
    } */
a {
        margin-top: 50px;
        color: #ffc400;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    
    }


/* /// ----------END OF       LAYOUT        STYLING --------- */


/*  ---------- START     INDEX        STYLING --------- */
#showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

#video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

#video-container video {
	min-width: 100%  ;
	min-height: 100%  ;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

#video-container:after {
	content: '';
	z-index: 1;
	height: 100% ;
	width: 100% ;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

#firstpage-content {
	z-index: 2;
    /* refering to position absolute */
}

#firstpage-welcome-div {

}
#welcomeText {

}
#letterQuestion {

}

#firstpage-buttons-div {

}
#firstpage-button {

}