/* // START LAYOUT STYLING */
body {
        font-family: 'Jim Nightshade', cursive;
        
        overflow: hidden;

        background-image: url( ../images/HogwartsBackgroundImage.jpg );
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        cursor: url('../images/lumosCursor.png') 32 32, auto;
    }

/* .intro{
        display:flex;
        justify-content: flex-start;
    } */
a {
        margin-top: 50px;
        color: #ffc400;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
    
    }

    input, textarea {
        font-family:inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
        background-color: inherit;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
    
    }
    button, select, textarea
    {
        font-family:inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        background: none;
    
        cursor: url('../images/lumosCursor.png') 32 32, auto;
    
        
    }

/* /// ----------END OF       LAYOUT        STYLING --------- */


/*  ---------- START     INDEX        STYLING --------- */
#showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

#video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./https://traversymedia.com/downloads/cover.jpg') no-repeat center
		center/cover;
}

#video-container video {
	min-width: 100%  ;
	min-height: 100%  ;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

#video-container:after {
	content: '';
	z-index: 1;
	height: 100% ;
	width: 100% ;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

#firstpage-content {
	z-index: 2;
    /* refering to position absolute */
}

#firstpage-welcome-div {
    color: hsla(34, 30%, 82%, 0.6);
    

}
#welcomeText {

}
#letterQuestion {

}

#firstpage-buttons-div {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#firstpage-button {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--primary-color-text);
    font-weight: bold;
}
#firstpage-button:hover {
    background-color: #fd8b7f;
    border-color: rgba(196, 94, 94, 0.905); 
    color: rgb(153, 65, 65);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}


/* /// ----------END OF       INDEX        STYLING --------- */
/*  ---------- START     LOGIN        STYLING --------- */
#loginBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height:  */

    cursor: url('../images/lumosCursor.png') 32 32, auto;
}
.loginInput {
    /* width: 50%;
    height: 50%; */
    border: #deb221 solid 1px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.loginInput:focus {
    outline: none;
    border: #deb221 solid 2px;
    border-radius: 12px;
    padding: 10px;
}
.loginInput::placeholder {
    color: hsl(46, 88%, 74%);
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
.loginInput:focus::placeholder {
    color: hsl(46, 88%, 74%);
    font-size: 1.1em;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}
#loginButton {
    width: 60%;
    height: 70%;
    border: #deb221 solid 1px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);

    cursor: url('../images/lumosCursor.png') 32 32, auto;

}
#loginButton:hover {
    border-color: hsl(46, 54%, 74%) solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #58535399;
    background-color: #58535399;


    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#loginButton:active {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);

    box-shadow: 0 12px 16px 0 rgba(0,0,0,0);
}
#loginButton:focus {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
}
#loginButton:hover:focus {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
}
#loginButton:active:focus {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
}
#loginButton:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}
#loginButton:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* /// ----------END OF       LOGIN        STYLING --------- */
/*  ---------- START     SIGNUP        STYLING --------- */
#letterText {
    width: 850px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);

}
#letterPhoto {
    opacity: 0.55 ;
    width: 200px;
    height: 150px;
}
/* /// ----------END OF       SIGNUP        STYLING --------- */



/* /// ----------START OF       HAT QUIZZZ        STYLING --------- */
#hatquizPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

#hatquizPage h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #5c3410f0;
    background-color: hwb(0 18% 65% / 0.228);
    background-size: contain;
    border-radius: 50px;
    border: 0.7em solid rgba(67, 23, 23, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

#quiz-header {
    display: flex;
    justify-content:center;
    align-items: center;
}
.quiz-header-divs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px auto;
}
.quiz-header-divs img {     
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; 

    width: 200px;
    height: 130px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}


#hatQuizForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
fieldset {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    border: black;

    padding: 7px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
fieldset legend {
    border: black;
    background-color: hsla(0, 1%, 17%, 0.6);
    margin: 5px;
    border-radius: 5px;
    border: 2.5px solid black;

    font-size: 1.3em;
    font-weight: bold;
    color: rgb(68, 189, 103);
    /* -------------------------  here the fieldset legend */
    text-align: center;
}
fieldset label {
    font-size: 1.1em;
    font-weight: solid;
    color: #ffca8d;
}

#houseButton {

    border: #deb221 solid 1px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);

    cursor: url('../images/lumosCursor.png') 32 32, auto;

}
#houseButton:hover {
    border-color: hsl(46, 54%, 74%) solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: #58535399;
    background-color: #58535399;


    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#houseButton:active {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
}
#houseButton:focus {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
}
#houseButton:hover:focus {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
}
#houseButton:active:focus {
    border-color: #deb221 solid 2px;
    border-radius: 12px;
    padding: 7px;
    margin: 10px;
    font-size: 1.1em;
    font-weight: bold;
    color: hsl(60, 63%, 72%);
    background-color: rgba(0, 0, 0, 0.6);
}
#houseButton:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

}
#houseButton:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* /// ----------END OF       HAT QUIZZZ        STYLING --------- */


/* /// ----------START OF       official acceptance after quiz       STYLING --------- */
#acceptancePage {
    width: 100vw;
    height: 100vh;
    /* position: fixed;
    top: 0; */

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#acceptanceBigText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#acceptanceSmallText {
    height: 200px auto;
    width: 200px auto;
    color: rgb(23, 200, 49);
    font-size: 1.2em  ;
    font-weight: solid;

    border: #4c1b1b;
    background-color: #4a050599;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid black;
}
#acceptanceSmallText span {
    font-size: 1.2em;
    font-weight: bold;
    color: #b9c817;
}

#indexLayoutNav {
    visibility: hidden;
}



/* /// ----------END OF       official acceptance after quiz       STYLING --------- */