/* START LAYOUT STYLING */

body {
  font-family: 'Jim Nightshade', cursive;
  margin:0;
  background-image: url('/images/hog.png');
  background-size: cover;
  cursor: url('../images/lumosCursor.png') 32 32, auto;
  
  
  /* background-color:rgba(228, 224, 214, 0.9) */

}

img {
  vertical-align: middle;

}


.titlelogo{
  display:flex;
  flex-direction:row;
  margin-top: 0px;
  padding-top: 20px;

}

.profile{
  color:#EEBA30;

  height: 80px;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.opt{
  margin-right:50px;
  width:100px;
  display:flex;
  flex-direction: column;
  justify-content: center;

}

.txt{
  color:#EEBA30;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}


.intro{
  display:flex;
  justify-content: flex-start;
}

h1 {
 font-size: 30px;
}

.navbar-top {
  display: flex;
  margin-left: 250px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 150px;
  background-color: rgba(0,0,0,0.8);
  color: #ffc400;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.navbar-logo {
  height: 70px;
  width:70px;
  margin-top:10px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
}

.navbar-title {
  margin: 0;
  font-size: 65px;
  font-weight: normal;
  margin-left: 10px;
  color: #ffc400;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-left {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  /* background: linear-gradient(to right top, rgba(180, 170, 170, 0.513), rgba(20, 20, 20, 0.614)); */
  background:rgba(255, 187, 0, 0.86);
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap:wrap;
  box-shadow: 0 0 30px rgba(255, 204, 0, 0.5);
  
}

.content {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  color: white;
  margin-top: 100px;
  margin-left: 480px;
  margin-right:250px;
  padding-top: 50px;
  padding-bottom:50px;
  font-family: 'Jim Nightshade', cursive;
  box-shadow: 0 0 30px rgba(255, 204, 0, 0.729);
  border-radius:50px;
  background-color: #000000b2;
  padding:50px;
}

.navbar-left nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul{
  margin-top:80px;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap:wrap;
  margin-right: 30px;
  padding:15px;
}

li{
  list-style-type: none;
  margin-left: 15px;
  margin-right:15px;
  /* padding-top: 10px; */
  
}

a {
  margin-top: 50px;
  color: #23221f;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  /* font-weight: 600; */
}

.navbar-left a {
  color: #171717;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.navbar-left a:hover {
  position: relative;
  background-color: #17171774;;
  color: rgba(255, 196, 0, 0.965);
  border-radius: 80px 20px 80px 20px;
  box-shadow: 0 0 40px rgba(2, 2, 2, 0.667);
  padding: 15px;
}

.navbar-left a:hover::before {
  content: "";
  position: absolute;
  border-radius: 40% 60% 30% 50%;
  background-color: #171717;;
  transform: rotate(-45deg);
  z-index: -1;
}

.navbar-left a:hover::after {
  content: "";
  position: absolute;
  border-radius: 40% 60% 30% 50%;
  background-color: #ffc400;
  transform: rotate(-45deg);
  z-index: -1;
}

/* .navbar-left li:first-child a {
  border-top: 1px solid #171717;;
  padding-top: 20px;
}

.navbar-left li:last-child a {
  padding-bottom:20px;
  border-bottom: 1px solid #171717;;
} */
.navbar-left a:hover .fa {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}


/* /// END OF LAYOUT STYLING */





/* -------------------- SYLLABUS styling -------------- */
#syllabusBody {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

/* ------------------ END OF SYLLABUS styling -------------- */



/* -------------- characters ALUMNI styling -------------- */
#charactersByHouse {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
#charactersByHouse img{
  width: 140px;
  height: 180px;
  object-fit:contain ;
}

/* characters alumni BY  -- HOUSE ---->>>>>> GRYYFINDOR <<<<<--- styling */
#charactersGryffindor{
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom,#740001 ,#EEBA30) 1;

  height: 800px;
  overflow: scroll;
}
#charactersGryffindor::-webkit-scrollbar {
  width: 1em;
}
#charactersGryffindor::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#charactersGryffindor::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#charactersGryffindor div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* characters alumni BY  -- HOUSE ---->>>>>> RAVENCLAW <<<<<---  styling */
#charactersRavenclaw{
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #0E1A40 ,  #946B2D ) 1;
  
  height: 800px;
  overflow: scroll;
}
#charactersRavenclaw::-webkit-scrollbar {
  width: 1em;
}
#charactersRavenclaw::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#charactersRavenclaw::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#charactersRavenclaw div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* characters alumni BY  -- HOUSE ---->>>>>> HUFFLEPUFF <<<<<---  styling */
#charactersHufflepuff{
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #FFF4B1 , #60605C ) 1;
  
  height: 800px;
  overflow: scroll;
}
#charactersHufflepuff::-webkit-scrollbar {
  width: 1em;
}
#charactersHufflepuff::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#charactersHufflepuff::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#charactersHufflepuff div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* characters alumni BY  -- HOUSE ---->>>>>> SLYTHERIN <<<<<---  styling */
#charactersSlytherin{
  border-width: 10px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #1A472A  , #AAAAAA ) 1;
  
  height: 800px;
  overflow: scroll;
}
#charactersSlytherin::-webkit-scrollbar {
  width: 1em;
}
#charactersSlytherin::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#charactersSlytherin::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
#charactersSlytherin div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Different backgrounds for the home and lounge areas */
.gryffindor {
  background-image: url('/images/gryf1.jpg');
  background-size: 90%;
  background-position: left 50px;
  background-position-x: 200px;
  background-position-y: 150px;
}

.hufflepuff {
  background-image: url('/images/huff1.jpg');
  background-size: 90%;
  background-position: left 50px;
  background-position-x: 200px;
  background-position-y: 150px;
}

.ravenclaw {
  background-image: url('/images/raven1.jpg');
  background-size: 90%;
  background-position: left 50px;
  background-position-x: 200px;
  background-position-y: 150px;
}

.slytherin {
  background-image: url('/images/slyth1.jpg');
  background-size: 90%;
  background-position: left 50px;
  background-position-x: 200px;
  background-position-y: 150px;
}


/* // Code for the louge houses */

.second-gryffindor {
  /* background-image: url('/images/gryf1.jpg'); */
  background-image: url('/images/gryf.gif');
  background-size: 110%;
  background-position: left 50px;
  background-position-x: 250px;
  background-position-y: 150px;
}


.second-hufflepuff {
  background-image: url('/images/huff.gif');
  background-size: 120%;
  background-position: left 50px;
  background-position-x: 200px;
  background-position-y: 150px;
}

.second-ravenclaw {
  background-image: url('/images/rave.gif');
  background-size: 120%;
  background-position: left 50px;
  background-position-x: 200px;
  background-position-y: 150px;
}

.second-slytherin {
  background-image: url('/images/slyth2.gif');
  background-size: 120%;
  background-position: left 50px;
  background-position-x: 200px;
  background-position-y: 150px;
}


/* // Links style  */
.links{
  color:#ffc400;
}