
<!-- This ensures the background image changes depending on the house the user is in -->
<body class="second-<%= user.house.toLowerCase() %>">

    <p> Welcome to the  <%= user.house %> common room, <%= user.username %> ! </p>
    <p> This is all about <%= user.house %> blablabjbczdgcds</p>
  </body>



  
  
