<!-- This ensures the background image changes depending on the house the user is in -->
<body class="second-<%= user.house.toLowerCase() %>">

    <p class="cmnroom"> Welcome to the  <%= user.house %> common room, <%= user.username %> ! </p>

  </body>