<body class="second-<%= user.house.toLowerCase() %>">

    <h1> Welcome to the  <%= user.house %> common room, <%= user.username %> ! </h1>
    <p> This is all about the <%= user.house %> house and its community</p>
  </body>

